* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.phrase1 {
    position: relative;
    bottom: 1060px;
    left: 40px;
    width: 190px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.phrase2 {
    position: relative;
    bottom: 1100px;
    left: 44px;
    width: 180px;
    height: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.phrase3 {
    position: relative;
    bottom: 1060px;
    left: 797px;
    width: 180px;
    height: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.phrase4 {
    position: relative;
    bottom: 1075px;
    left: 946px;
    width: 180px;
    height: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.phrase5 {
    position: relative;
    bottom: 1090px;
    left: 1039px;
    width: 180px;
    height: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.phrase6 {
    position: relative;
    bottom: 1105px;
    left: 1180px;
    width: 180px;
    height: 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}